{%load static%}

<div class="footer">
    <div class="container">
        <div class="social-media">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-google"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
        </div>

        <p>Copy Right 2023 © By team 1  <a href="home">Theme-fair</a> All Rights Reserved</p>
    </div>
</div>


<style>
    .footer {
    text-align: center;
    background-color: #333333;
    padding: 50px 0px;
}

.footer .social-media a {
    padding: 10px;
    color: white;
    font-size: 18;
    font-weight: 800;
}

.footer .social-media a:hover {
    color: #FF305B;
}

.footer p {
    color: white;
    padding: 20px;
}

.footer p a {
    color: #FF305B;
    text-decoration: none;
}

.footer p a:hover {
    text-decoration: underline;
}
</style>