{%load static%}

{% block content %}
<div class="container" id="Dashhh">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="company_name">Company Name:</label>
    {{ form.company_name }}
    
    <label for="brand_name">Brand Name:</label>
    {{ form.brand_name }}
    
    <label for="product_name">Product Name:</label>
    {{ form.product_name }}
    
    <label for="product_description">Product Description:</label>
    {{ form.product_description }}
       
    <label for="image">Image:</label>
    {{ form.image }}
    <br>
    <button type="submit">Save Changes</button>
    <a href="{% url 'dashboard' %}"><button type="submit">Back</button></a>
</form>
</div>

<style>
.form-container {
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the form content horizontally */
  }
  
  /* Form labels */
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    color: #000000;
    text-align: left;
  }
  
  /* Form input fields */
  input[type="text"],
  textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
  }
  
  /* Form select fields */
  select {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    background-color: #fff;
    text-align: center;
  }
  
  /* Form file input */
  input[type="file"] {
    margin-top: 8px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Form submit button */
  button[type="submit"] {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  /* Form field errors */
  .error-message {
    color: #ff0000;
    margin-top: 5px;
    font-size: 12px;
  }
  
  /* Success message */
  .success-message {
    color: #008000;
    margin-top: 5px;
    font-size: 12px;
  }
  #Dashhh{
              margin-top: 55px;
              margin-bottom: 110px;
              max-width: 700px;
              padding: 40px;
              background-color: #ffffff;
              border-radius: 10px;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>

{% endblock %}